.lemonapcpopup {
  background-color: #FFFCF1;
  color: #555;
}

.lemonapc-okbutton{
  background-color: #888CB5;
  color: white;
}

.lemonapc-cancelbutton {
  background-color: #C58380;
  color: white;
}

.lemonapc-submitbutton {
  background-color: #8BAF82;
  color: white;
}